
li {
    color: green;
    color: blue;
}

li {
    color: black
}

.primeira-classe { color: cyan }

li[roxo] { color: purple } 

#primeiro-id { color: orange }

/* li {
    color: brown !important;
} */
