
h2 {
    border: 10px solid blue;
    /* border-top: 0px;
    border-width: 0px 10px 20px 30px */
}

p {
    border: 3px dashed greenyellow;
    padding: 5px;
}

footer {
    border: 3px dashed orchid;
    margin: 10px;    
}
